<md-modal
      htmlId="modal1"
      aria-label="modal1"
    >
    <md-modal-header
        headerLabel="Default Modal">
      </md-modal-header>
    <modal-steps></modal-steps>
    <md-modal-footer>
      <button md-button
        *ngIf="(counter$ | async) > 0"
        alt="Back"
        type="button"
        aria-label="Back"
        (click)="back()"
      > Back
      </button>
      <button md-button
        alt="Close Modal"
        type="button"
        aria-label="Close Modal"
        (click)="close()"
      > Cancel
      </button>
      <button md-button
      *ngIf="(counter$ | async) < this.lastScreen"
        color="blue"
        alt="=Next"
        type="button"
        aria-label="Next"
        (click)="next()"
      >
        Next
      </button>
      <button md-button
      *ngIf="(counter$ | async) === this.lastScreen"
      color="blue"
      alt="Submit Form"
      type="submit"
      aria-label="Submit Form"
      (click)="save()"
    >
      Save
    </button>
    </md-modal-footer>
    </md-modal>
