<div>
  <p>
    <button md-button aria-label="myAriaLabel" (click)="openModal()">
      Test the Modal
    </button>
  </p>
  <md-badge color="blue" [mdPopover]="tootltipTemplate" popoverTrigger="MouseEnter">Popover from template</md-badge>
  <ng-template #tootltipTemplate>
      <md-badge color="red">HOWDY</md-badge>
      <div class="box">THis is cool</div>
  </ng-template>
</div>
<div>
  <button md-button aria-label="myAriaLabel" mdTooltip="Hello World!">
    Test the tooltip
  </button>
</div>
