<!-- <button
md-button
aria-label="openDrawer"
(click)="showDrawer()">
  Open Drawer
</button>
<md-drawer
[(isOpen)]="showMe"
(drawerChanged)="changeDrawer($event)"
> -->
<p>
  <button md-button aria-label="myAriaLabel" (click)="openModal(dataModel)">
    Test Me
  </button>
</p>
<md-badge color="blue" [mdPopover]="tootltipTemplate">Popover from template</md-badge>
<ng-template #tootltipTemplate>
    <md-badge color="red">HOWDY</md-badge>
    <div class="box">THis is cool</div>
</ng-template>

<!-- </md-drawer> -->


